
<table>
	<thead>

		<tr>
			
			<th>Nombre</th>
			<th>¿Principal?</th>
			<th>¿Light?</th>
			<th>¿Tiene acompañamiento?</th>

		</tr>

	</thead>
	<tbody>
	

		<tr ng-repeat="item in data">

			<td>{{item.name}}</td>
			<td>{{item.main | transformBoolean}}</td>
			<td>{{item.light | transformBoolean}}</td>
			<td>{{item.allowSideDish | transformBoolean}}</td>

		</tr>

	</tbody>
	
</table>

<p class="nota"><b>Nota:</b> El que quiera agregar comida, me hace un Pull Request agregando los platos a data/data.js.</p>